/* MIRROR */

.mirror {
    position: relative;
}

.mirror:hover {
    border: 2px solid white !important;
}

.mirror a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    content: "";
    background: white;
    opacity: 0.2;
    transition: none;
    transform: skewX(-20deg);
    visibility: hidden;
}

.mirror a:hover:before {
    left: 110%;
    transition: left 0.5s ease;
    visibility: visible;
}

/* SNAKE  */

.snake::before {
    content: "";
    background-color: white;
    width: 100%;
    height: 0.15rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 300ms;
}

.snake:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* FLASHING */

@keyframes green-flash {

    0%,
    100% {
        outline: 0px solid var(--main-light);
    }

    50% {
        outline: 5px solid var(--main-light);
    }
}

/* CANDY */

.candy {
    background:
        linear-gradient(90deg, var(--red-light) 50%, white 50%),
        linear-gradient(90deg, var(--red-light) 50%, white 50%),
        linear-gradient(0deg, var(--red-light) 50%, white 50%),
        linear-gradient(0deg, var(--red-light) 50%, white 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 0.2rem, 20px 0.2rem, 0.2rem 20px, 0.2rem 20px;
    background-position: 0px 0px, 100% 101%, 0px 100%, 100% 0px;
    animation: border-dance 15s infinite linear;
}

.candy-blue {
    background:
        linear-gradient(90deg, var(--blue-dark) 50%, white 50%),
        linear-gradient(90deg, var(--blue-dark) 50%, white 50%),
        linear-gradient(0deg, var(--blue-dark) 50%, white 50%),
        linear-gradient(0deg, var(--blue-dark) 50%, white 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 0.2rem, 20px 0.2rem, 0.2rem 20px, 0.2rem 20px;
    background-position: 0px 0px, 100% 101%, 0px 100%, 100% 0px;
    animation: border-dance 15s infinite linear;
}

@keyframes border-dance {
    0% {
        background-position: 0px 0px, 150% 101%, 0px 200%, 100% 0px;
    }

    100% {
        background-position: 150% 0px, 0px 101%, 0px 0px, 100% 200%;
    }
}

/* RAINBOW */

.rainbow {
    background: #C6FFDD;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    border: 0 !important;
}

.rainbow a {
    color: var(--rainbow-1) !important;
    font-size: 1.3rem !important;
}