.logo {
    margin-block: -1rem 1rem;
    margin-inline: auto;
}

.logo-small {
    margin-inline: 30%;
}

.logo img {
    width: 100%;
}

.logo.maintenance {
    max-width: 50rem;
    margin-bottom: 3rem;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.art {
    margin-inline: auto;
    max-width: 33rem;
}

.art svg {
    width: 100%;
    margin-top: -5rem;
}

/* CONTATTI */
.contact {
    background-color: var(--text);
    padding: 0.5rem 1rem;
    display: block;
    width: fit-content;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:last-child {
    color: var(--red-lighter);
    padding-left: 0.5rem;
}

.contact a:hover:last-child {
    color: var(--red-light);
}

.contact span {
    text-decoration: underline;
    padding-left: 0.4rem;
}

.contact span:last-child {
    text-decoration: none;
    color: var(--gray-normal);
}


/* REDIRECT */
.redirects-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.redirect-btn {
    font-size: 1.2rem;
    background-color: var(--red-lighter);
    padding: 0.3rem 0.8rem;
    border: 2px solid transparent;
    box-shadow: 2px 2px 0px 1px var(--shadow-light);
    width: fit-content;
    overflow: hidden;
    margin-bottom: 1rem;
}

.redirect-btn a {
    color: white;
    text-decoration: none;
}

.redirect-btn i {
    margin-top: -0.3rem;
    margin-right: 0.4rem;
}

/* PROGRESS BAR */
.progress-bar {
    background-color: white;
    position: relative;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    outline: 7px solid var(--main-lighter);
    margin-block: 0.5rem;
}

.progress-bar label {
    display: none;
    white-space: nowrap;
    font-size: 1.1rem;
    background-color: var(--text);
    color: white;
    padding: 0.2rem 0.5rem;
    box-shadow: 2px 2px 0 1px var(--opa-light);
    margin: 1.5rem 0 0 0.5rem;
    width: max-content;
    position: absolute;
}

.progress-bar div {
    position: absolute;
    font-weight: 600;
}

.progress-bar .current {
    left: 0;
    top: -1.5rem;
    margin-left: -0.5rem;
    text-align: right;
    white-space: nowrap;
}

.progress-bar .total {
    right: 0.5rem;
    bottom: -1.75rem;
}

.progress-bar span:hover {
    outline: 3px solid;
    z-index: 1;
}

.progress-bar span:hover label {
    display: block;
}

/* STATS */

.stat-n {
    background: var(--opa-white-normal);
    margin-block: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    box-shadow: 2px 2px 0 1px var(--shadow-light);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0rem;
    align-items: center;
}

.stat-n .title {
    color: var(--gray-darker);
    text-align: center;
}

.stat-n.small .title {
    font-size: 1rem;
    line-height: 1rem;
}

.stat-n.medium .title {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.stat-n.big .title {
    font-size: 3rem;
    line-height: 3rem;
}

.stat-n.small .subtitle {
    color: var(--gray-normal);
    font-size: 0.8rem;
}

.stat-n.medium .subtitle {
    color: var(--gray-normal);
    font-size: 1.2rem;
}

.stat-n.big .subtitle {
    color: var(--gray-normal);
    font-size: 1.8rem;
}

.stat-n p {
    margin: 0;
}

.stat-n>span {
    width: 100%;
    word-break: break-word;
    text-align: center;
}

.stat-n.small>span {
    font-size: 2.5rem;
    font-weight: 600;
    margin-block: -0.75rem;
}

.stat-n.medium>span {
    font-size: 4rem;
    font-weight: 600;
    margin-block: -1rem;
}

.stat-n.big>span {
    font-size: 8rem;
    font-weight: 600;
    margin-block: -3.5rem -3rem;
}

.stat-n .trend-up {
    color: var(--tl-green-bg);
}

.stat-n .trend-down {
    color: var(--tl-red-bg);
}

.stat-n .trend-flat {
    color: var(--tl-yellow-bg);
}

.stat-n>span>span {
    opacity: 0.5;
    margin-left: 0.75rem;
    vertical-align: baseline;
}

.stat-n.small>span>span {
    font-size: 1.25rem;
}

.stat-n.medium>span>span {
    font-size: 2rem;
}

.stat-n.big>span>span {
    font-size: 4rem;
}